.lp-gallery {
    display: flex;
    flex-wrap: wrap;
    color: #1F2833;
    background-color: #C5C6C7;
}

.lp-gallery-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.lp-gallery-block:nth-child(2) {
    justify-content: flex-start;
    background-color: #5D001E;
}
.lp-gallery-block:nth-child(3) {
    justify-content: flex-start;
    background-color: #9A1750;
}
.lp-gallery-block:nth-child(4) {
    justify-content: flex-start;
    background-color: #EE4C7C;
}

.lp-gallery-block-image {
    padding: 60px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.lp-gallery-block:nth-child(2) .lp-gallery-block-image {
    background-image: url(./assets/1.jpg);
}
.lp-gallery-block:nth-child(3) .lp-gallery-block-image {
    background-image: url(./assets/2.jpg);
}
.lp-gallery-block:nth-child(4) .lp-gallery-block-image {
    background-image: url(./assets/3.jpg);
}

.lp-gallery-block-data-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 650px) {
    .lp-gallery-block {
        width: 33.33%;
    }
}

@media only screen and (min-width: 900px) {
    .lp-gallery-block {
        width: 25%;
    }
}